/* Responsive styles
================================================== */
/* Large Devices, Wide Screens */
@media (max-width: 1024px) {
  /* Dropdown animation */
  .navbar-nav .dropdown-menu, .navbar-nav .dropdown.megamenu div.dropdown-menu {
    background: none;
    border: 0;
    box-shadow: none;
    display: block;
    opacity: 0;
    z-index: 1;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: visibility 500ms, opacity 500ms, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    -moz-transition: visibility 500ms, opacity 500ms, -moz-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    -o-transition: visibility 500ms, opacity 500ms, -o-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    -ms-transition: visibility 500ms, opacity 500ms, -ms-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    transition: visibility 500ms, opacity 500ms, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
  }

  #hero-area .cd-intro {
      margin-top: -5%;
  }
  #hero-area .cd-intro h1 span {
      font-size: 50px;
  }
  #hero-area .wow h2 {
      font-size: 30px;
      line-height: 50px;
  }
  #hero-area .wow a {
    font-size: 20px;
    margin-top: -1%;
  }
  .navbar a{
      font-size: 25px;
  }
  .navbar {
      width: 100%;
  }
  #hero-area {
      height: 700px;
  }
  #top-bar .navbar-collapse .navbar-nav li a {
      font-size: 18px;
  }
  #top-bar .navbar-brand a img {
      margin-left: -5%;
  }

  /*.navbar-nav .dropdown:hover div.dropdown-menu, .navbar-nav .dropdown.megamenu:hover div.dropdown-menu {
    opacity: 1;
    visibility: visible;
    color: #777;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }*/
  .container1 {
      width: 40%;
      margin-left: 5.5%;
  }
  .container2 {
      margin-top: -52%;
      width: 43%;
      margin-left: 51.5%;
  }
  /*.navbar-nav .dropdown-backdrop {
    visibility: hidden;
  }
}
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .title {
    font-size: 40px;
  }
  .navbar-header .navbar-brand a {
    padding: 6px 8px;
  }
  /*.navbar {
      display: none;
  }*/
  #hero-area {
    padding: 140px 0;
    height: 650px;
    width: 100%;
  }
  #about .wow img {
      margin-right: 10%;
  }
  .container1, .container2 {
      width: 73%;
      margin-left: 13%;
  }
  .container2 {
      margin-top: 15%;
      height: 255px;
  }
  #report .title2 {
      margin-left: 30%;
      margin-top: 15%;
      margin-bottom: -3%;
  }
  #report .title {
      margin-top: 15%;
      margin-bottom: 10%;
      margin-left: 30%;
  }
  .container2 .image {
      height: 250px;
  }
  .container2 .overlay {
      width: 50%;
  }
  #hero-area .cd-intro h1 span {
      font-size: 40px;
  }
  #hero-area .wow h2 {
      font-size: 18px;
      line-height: 30px;
  }
  #call-to-action {
      width: 103.5%;
  }
  #call-to-action .block h2 {
      width: 100%;
      margin-left: -3%;
  }
  #hero-area {
      background-size: cover;
      width:103.5%;
  }
  #top-bar .navbar-brand a img {
      margin-top: -2%;
  }
  #hero-area .btn {
    margin-top: 8px;
  }
  .navbar {
      width: 103.5%;
  }
  .navbar .navbar-brand {
      font-size: 17px;
      margin-right: 2%;
  }
  .navbar .navbar-brand:nth-child(2) {
      margin-left: 12%;
  }
  #about {
    padding: 70px 0;
  }
  #about .block h2 {
      text-align: center;
      font-size: 30px;
  }
  #about .block p:last-child {
      text-align: justify;
  }
  #about .block {
    padding: 0;
  }
  #events-page h2 {
      text-align: center;
      font-size: 30px;
  }
  #events-page .block h4 {
      font-size: 20px;
  }
  #events-page .block i {
      size: 20px;
  }
  #events-page .block p {
      margin-left: 10px;
  }
  figure .buttons {
    left: 16%;
  }
  #feature .media {
    margin: 0px 0px 35px;
  }
  #footer .footer-center h3 {
      text-align: center;
      font-size: 25px;
  }
  #footer .footer-center address {
      text-align: center;
  }
  #footer .footer-center iframe {
      margin-left: 10%;
  }
  #footer .copyright {
    text-align: center;
  }
  #footer .social {
    text-align: center;
  }
  /*.dropdown-menu > ul > li > a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 15px;
    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  }
  .dropdown-menu > ul {
    list-style: none;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: -5px;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 0.09px rgba(0, 0, 0, 0.15);
  }
  .navbar-collapse {
    background: #333333;
  }
  #top-bar .main-menu li > a {
    color: #fff;
    padding: 21px 10px;
    background: transparent;
  }
  #top-bar .dropdown-menu > ul {
    list-style: none;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: -5px;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 0.09px rgba(0, 0, 0, 0.15);
  }
  #top-bar .dropdown-menu > ul > li > a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 15px;
    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}*/
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436*/